<!DOCTYPE html>
<html>
	<head>
		<% include ./_head %>
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@quote_helper" />
		<meta name="twitter:title" content="<%=title %>" />
		<meta name="twitter:description" content="<%=description %>" />
		<meta name="twitter:image" content="<%=image %>" />
	</head>
	<body>
		<% include ./_header %>
		<div class="ui main container">
			<blockquote class="twitter-tweet" data-lang="en"><a href="https://twitter.com/quote_helper/status/<%=id %>"></a></blockquote>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			<div class="ui center aligned container" style="margin-top: 40px;">
				<div class="ui stackable grid">
					<div class="sixteen wide column">
						<img class="ui image" src="/static/instructions_2.jpg" />
					</div>
					<div class="sixteen wide column">
						<img class="ui image" src="/static/instructions_3.jpg" />
					</div>
				</div>
			</div>
		</div>
		<% include ./_footer %>
	</body>
</html>

