<!DOCTYPE html>
<html>
	<head>
		<% include ./_head %>
	</head>
	<body>
		<% include ./_header %>
		<div class="ui main container">
			<form class="ui form" action="/i" method="post">
				<div class="field">
					<label>트윗 URL</label>
					<input type="text" name="url" placeholder="https://twitter.com/sapphire_dev/status/765804412522627074" />
				</div>
				<button class="ui button" type="submit">링크 만들기</button>
			</form>
			<div class="ui center aligned container" style="margin-top: 40px;">
				<div class="ui stackable grid">
					<blockquote class="twitter-tweet" data-lang="en"><p lang="ko" dir="ltr"><a href="https://t.co/Hvub1sC6fR">https://t.co/Hvub1sC6fR</a><br>인용 대상에게 알람이 가지 않는 인용 트윗을 할 수 있도록 도와주는 사이트를 만들었습니다.<br>잘 활용해주세요. <a href="https://t.co/i8kDlQUg6g">pic.twitter.com/i8kDlQUg6g</a></p>&mdash; sapphire (@sapphire_dev) <a href="https://twitter.com/sapphire_dev/status/782250634086977536">October 1, 2016</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					<!--div class="sixteen wide column">
						<img class="ui centered image" src="/static/instructions_0.jpg" />
					</div-->
				</div>
			</div>
		</div>
		<% include ./_footer %>
	</body>
</html>

