<!DOCTYPE html>
<html>
	<head>
		<% include ./_head %>
	</head>
	<body>
		<% include ./_header %>
		<div class="ui main container">
			<form class="ui form" action="/i" method="post">
				<div class="field">
					<label>트윗 URL</label>
					<input type="text" name="url" placeholder="https://twitter.com/sapphire_dev/status/765804412522627074" />
				</div>
				<button class="ui button" type="submit">링크 만들기</button>
			</form>
			<div class="ui center aligned container" style="margin-top: 40px;">
				<div class="ui stackable grid">
					<!--div class="sixteen wide column">
						<img class="ui centered image" src="/static/instructions_0.jpg" />
					</div-->
				</div>
			</div>
		</div>
		<% include ./_footer %>
	</body>
</html>

